<div class="nav navbar-nav navbar-right">
			<button class="header-inline"><a href="/songs">Dashboard</a></button>
		
			<button class="header-inline"><a href="/sessions" data-method="delete">Logout</a></button>
		</div>	

<div class="container">

	<h2><%= @song.title.capitalize %></h2>


	<div>
		<table class="table table-bordered"> <!-- bordered table class -->
		        <thead><!-- table head-->
		            <tr>
		               	<th>Name</th>
		                <th>Times added</th>
		            </tr>
		        </thead>
				
		        <tbody>
		        
		    
		           
			   </tbody>
		</table>
	</div>



</div>