

<div class="container">

	<h2><%= @song.title.capitalize %></h2>


	<div>
		<table class="table table-bordered"> <!-- bordered table class -->
		        <thead><!-- table head-->
		            <tr>
		               	<th>Name</th>
		                <th>Times added</th>
		            </tr>
		        </thead>
				
		        <tbody>
		        
		    
		           
			   </tbody>
		</table>
	</div>



</div>